.align-center {text-align:center; }

.top-buffer { margin-top:20px; }

.card:hover { opacity: 0.7; }

.table-row {height: 139px; }

.prompt-row {height: 80px; }

.cards-div {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 140px;
    text-align: center;}

.card-div {
    display: inline-block;
    height: 140px;
    width: 106px;
    /* For IE 7 */
    zoom: 1;
    *display: inline;}

.card {
    height: 139px;
    width: 96px;}

.with-padding {padding: 7px; margin: 7px;}

p.thick {
    font-weight: bold;
}

div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px;
   top: -9999px;
   height: 1px;
   width: 1px;
}

.btn {
    margin-right: 5px;
    margin-left: 5px;
}
